<h1>Table of Contents</h1>

<table class="table">
  <tbody>
    <tr class="content-extras">
      <td colspan=2>
        <%= link_to 'Foreword', foreword_path %>
      </td>
    </tr>
    <tr class="content-extras">
      <td colspan=2>
        <%= link_to 'Our Mission', mission_path %>
      </td>
    </tr>

    <% @sections.each do |section| %>
      <tr class="section-row">
        <td colspan=2>
          <strong>SECTION:
          <%= section.section_number %></strong>
          
          <%= link_to section.section_title, section %>
        </td>
      </tr>
      <% section.chapters.sort.each do |chapter| %>
        <tr class="chapter-row">
          <td class="chapter-row-number"><%= chapter.chapter_number %>:</td>
          <td><%= link_to chapter.chapter_title, section_chapter_path(section, chapter) %></td>
        <tr>
      <% end %>


    <% end %>
  </tbody>
</table>

<br>